node_modules/
_site/
content/digitalis-tortenelem-erettsegi-akademia-foldrajzi-felfedezesek-v1.0.h5p
content/digitalis-tortenelem-erettsegi-akademia-geza-fejedelem-szent-istvan-v1.0.h5p
playwright-report/
test-results/
.DS_Store
Thumbs.db
__pycache__/
